<h1 id="types_objects" align="center">Sharon Raja S</h1>

<h2 id="types_objects" align="center">My Project 1</h2>

### Project

##### My First Code in Python

In [3]:
print("Hi")
print(7+8)
3+5

Hi
15

8

In [5]:
3==3

True

In [7]:
4==6

False

In [9]:
2**3

8

In [11]:
3**3

27

In [13]:
# square
print(5**2)

25

In [15]:
# cube
print(5**3)

125

In [17]:
# power
print(4**4)

256

In [19]:
# square root
print(16**(1/2))

4.0

In [21]:
# cube root
print(8**(1/3))

2.0

In [23]:
# power root
print(729**(1/6))

3.0

In [25]:
Word1='Hi... How are You?'
Word2='Are You 24..?'
Word3='i am fine'
Word4='WHO ARE YOU?'

In [27]:
# word1
print(Word1)
print(Word1.upper())
print(Word1.lower())
print(len(Word1))

Hi... How are You?
HI... HOW ARE YOU?
hi... how are you?
18

In [29]:
# word2
print(Word2)
print(Word2.upper())
print(Word2.lower())
print(len(Word2))

Are You 24..?
ARE YOU 24..?
are you 24..?
13

In [31]:
# word3
print(Word3)
print(Word3.upper())
print(Word3.lower())
print(len(Word3))

i am fine
I AM FINE
i am fine
9

In [33]:
# word4
print(Word4)
print(Word4.upper())
print(Word4.lower())
print(len(Word4))

WHO ARE YOU?
WHO ARE YOU?
who are you?
12

In [35]:
Para1="""   I have decided to follow Jesus - 3,
       No turning Back, No turning Back - 2
   The world behind Me, The Cross before Me - 3
       No turning Back, No turning Back - 2
   Though all may leave me, Still I will follow - 3
       No turning Back, No turning Back - 2"""
print(Para1)
print(len(Para1))

   I have decided to follow Jesus - 3,
       No turning Back, No turning Back - 2
   The world behind Me, The Cross before Me - 3
       No turning Back, No turning Back - 2
   Though all may leave me, Still I will follow - 3
       No turning Back, No turning Back - 2
270

#### strip(), upper(), lower() methods
##### strip: to remove unwanted space

In [38]:
Para2='   -I have decided to follow Jesus-   '
print(Para2)
print(Para2.strip())
print(Para2.upper())
print(Para2.lower())
print(len(Para2))

   -I have decided to follow Jesus-
-I have decided to follow Jesus-
   -I HAVE DECIDED TO FOLLOW JESUS-
   -i have decided to follow jesus-
38

In [40]:
Customer1_name='Joyson'
Name1,Name2,Name3,Name4,Name5,Name6,Name7='Raju','Balu','Raja','Bala','Roja','Babu','Reji'
Watch1_price=500
Watch1,Watch2,Watch3,Watch4,Watch5,Watch6,Watch7=425,350,527,499,729,125,676
Belt1_price=150
Shirt1_price=200
print(Customer1_name)
print(Watch1_price+Belt1_price+(2*Shirt1_price))
print(Watch3)
print(Name7)

Joyson
1050
527
Reji

In [42]:
Redmi_Note8=Black=White=Gray=Blue=Violet=10500
print(Redmi_Note8)

10500

### slicing, length, strip(), upper(), lower()

In [45]:
Word3='hello'
print(len(Word3))
print(Word3)
print(Word3.upper())
print(Word3.lower())
print(Word3[0])
print(Word3[1])
print(Word3[2])
print(Word3[0:2])
print(Word3[0:4])
print(Word3[1:4])
print(Word3[-5:3])
print(Word3[-5:-3])

5
hello
HELLO
hello
h
e
l
he
hell
ell
hel
he

In [47]:
Word4='hi hello'
print(len(Word4))
print(Word4)
print(Word4.upper())
print(Word4.lower())
print(Word4[0:1])
print(Word4[0:2])
print(Word4[0:4])
print(Word4[1:4])
print(Word4[1:6])

8
hi hello
HI HELLO
hi hello
h
hi
hi h
i h
i hel

In [49]:
Word5='hello, world'
print(len(Word5))
print(Word5)
print(Word5.upper())
print(Word5.lower())
print(Word5[0:6])

12
hello, world
HELLO, WORLD
hello, world
hello,

### replace, split

In [52]:
Name1,Name2='Raju','Balu'
print(Name1)
print(Name1.replace('u','a'))
print(Name1.replace('a','o').replace('u','a'))
print(Name1.replace('a','e').replace('u','i'))
print(Name1.replace('j','n').replace('u','i'))
print(Name1.replace('a','o').replace('j','s').replace('u','y'))
print(Name1.replace('ju','m'))
print(Name1.replace('u','a rathinam'))
print(Name1.split('R'))
print(Name1.split('u'))
print(Name1.split('j'))

Raju
Raja
Roja
Reji
Rani
Rosy
Ram
Raja rathinam
['', 'aju']
['Raj', '']
['Ra', 'u']

In [54]:
print(Name2)
print(Name2.replace('u','a'))
print(Name2.replace('l','b'))
print(Name2.replace('l','b').replace('u','a'))
print(Name2.replace('lu','t'))
print(Name2.replace('u','a subramanian'))

Balu
Bala
Babu
Baba
Bat
Bala subramanian

### true or false = yes or no type

In [57]:
print('ju' in Name1)
print('Ball' in Name2)

True
False

In [59]:
Vegitable1,Vegitable2,Vegitable3='Carrot','Tomato','Potato'
Vegitables='Carrot','Tomato','Potato'
print(Vegitable1)
print(Vegitables)
print('Carrot' in Vegitables)
print('Onion' in Vegitables)

Carrot
('Carrot', 'Tomato', 'Potato')
True
False

### Concordination = addition of strings

In [62]:
a1='Hi'
a2='Karthik'
a3='come here...'
print(a1+a2+a3)
a2=' Karthik'
a3=' come here...'
print(a1+a2+a3)

HiKarthikcome here...
Hi Karthik come here...

### Boolean

In [65]:
print(1==1)
print(1==2)
print(5>2)
print(5<2)
print(5>=2)
print(5>=5)
print(5<=2)
print(5<=5)

True
False
True
False
True
True
False
True

### casting => float, integer, string => Changing Data types

In [68]:
a=10
b=10.10
c=210.20
print(a,b,c)

10 10.1 210.2

In [70]:
    # int to float
d=float(10)
print(d)

10.0

In [72]:
    # float to int
e=int(10.10)
print(e)

10

In [74]:
    # float to str
f=str(320.60)
print(d,e,f)

10.0 10 320.6

In [76]:
    # float to complex
g=complex(210.20)
print(g)

(210.2+0j)

In [78]:
    # int & float to complex
h=complex(30,8.7)
print(h)

(30+8.7j)

In [80]:
    # bool to int
print(int(True))
print(int(False))

1
0

In [82]:
    # int to bool
print(bool(1))
print(bool(0))

True
False

In [84]:
    # bool to float
print(float(True))

1.0

#### type

In [87]:
a=10
b=10.10
c='htp3'
d=2+5j
e=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

### List

In [90]:
fruits=['apple','orange','banana','grapes']
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[-1])
print(fruits[0:1])
print(fruits[1:-1])
print(fruits[0:3])
print(fruits[1:4])

['apple', 'orange', 'banana', 'grapes']
apple
orange
grapes
['apple']
['orange', 'banana']
['apple', 'orange', 'banana']
['orange', 'banana', 'grapes']

### List: changing position in a List

In [93]:
fruits=['apple','orange','banana','grapes']
print(fruits)
fruits[1]='mango'  # to change 1st position
print(fruits)
fruits[2]='cherry'  # to change 2nd position
print(fruits)
print(len(fruits))

['apple', 'orange', 'banana', 'grapes']
['apple', 'mango', 'banana', 'grapes']
['apple', 'mango', 'cherry', 'grapes']
4

### List for append (add), remove

In [96]:
fruits=['apple','orange','banana','grapes']
fruits.append('watermelon')  # to add 'new'
print(fruits)
fruits.remove('apple')
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)

['apple', 'orange', 'banana', 'grapes', 'watermelon']
['orange', 'banana', 'grapes', 'watermelon']
['watermelon', 'grapes', 'banana', 'orange']
['banana', 'grapes', 'orange', 'watermelon']

### to make ascending order
#### sort() method

In [99]:
number1=[34,450,52,14,76,26,5800,709]
number2=[57,9,65,180,102,8300,801,94]
number1.sort()
print(number1)
number2.sort(reverse=False)
print(number2)

[14, 26, 34, 52, 76, 450, 709, 5800]
[9, 57, 65, 94, 102, 180, 801, 8300]

### to make decending order
#### reverse() method

In [102]:
number1.reverse()
print(number1)
number2.sort(reverse=True)
print(number2)

[5800, 709, 450, 76, 52, 34, 26, 14]
[8300, 801, 180, 102, 94, 65, 57, 9]

#### to add 2 lists
###### using '+'

In [109]:
fruits=['apple','orange','banana','grapes']
new_list=fruits+number1
print(new_list)

['apple', 'orange', 'banana', 'grapes', 5800, 709, 450, 76, 52, 34, 26, 14]

#### Dictionary

In [112]:
my_data={
    'name':'Joyson',
    'gender':'male',
    'age':24
}
print(my_data)

{'name': 'Joyson', 'gender': 'male', 'age': 24}

#### to get a data from dictionary

In [115]:
print(my_data.get('name'))  
print(my_data.get('age'))

Joyson
24

#### to update a data in Dictionary

In [118]:
my_data={
    'name':'Joyson',
    'gender':'male',
    'age':24
}
my_data['age']=26
print(my_data.get('age'))

26

# If, Elif, Else statements

In [121]:
# 1
age=15
if age >18:
    print('you can vote in election')
elif age==18:
    print('apply for vote id')
else:
    print('you have to wait till 18')

you have to wait till 18

In [123]:
# 2
age=20
if age >18:
    print('you can vote in election')
elif age==18:
    print('apply for vote id')
else:
    print('you have to wait till 18')

you can vote in election

In [125]:
# 3
age=18
if age >18:
    print('you can vote in election')
elif age==18:
    print('apply for vote id')
else:
    print('you have to wait till 18')

apply for vote id

### if with and / or

In [128]:
# 1
a,b=10,20
if a==10 and b==10:
    print('correct')
else:
    print('incorrect')

incorrect

In [130]:
# 2
a,b=10,20
if a==10 and b==20:
    print('correct')
else:
    print('incorrect')

correct

In [132]:
# 3
a,b=10,20
if a==10 or b==10:
    print('correct')
else:
    print('incorrect')

correct

### if within if (nesting of if) / (nested if)

In [135]:
a,b=10,20
if a==10 or b==10:
    print('correct')
    if b==10:
        print('hi')
    else:
        print('get out')
else:
    print('incorrect')

correct
get out

### Defining a Function

#### Functions of def (without parameters)

In [139]:
def addition():
    a=5
    b=7
    print(a+b)
addition()
addition()

12
12

In [141]:
def subtraction():
    a=7
    b=5
    print(a-b)
subtraction()
subtraction()

2
2

#### Functions of def (with parameters)

In [144]:
def see(a,b):
    print(a-b)
see(6,9)
see(8,3)
see(4,5)

-3
5
-1

In [146]:
def hi(name):
    print('Hi,'+name)
hi('Balu')

Hi,Balu

In [148]:
def fun(a):
    return a
print(fun(5))
print(fun(3))
print(fun(6))

5
3
6

In [150]:
def fun(a):
    return a*100
print(fun(5))
print(fun(3))
print(fun(6))

500
300
600

In [152]:
def addition(a,b):
    print(a+b)
addition(6,9)
addition(8,3)
addition(4,5)

15
11
9

### For loop

In [155]:
name='Mani'
for letters in name:
    print(letters)

M
a
n
i

In [157]:
fruits=['apple','orange','mango']
for fruit in fruits:
    print(fruit)

apple
orange
mango

In [159]:
for i in 'hi, welcome':
    print(i)

h
i
,

w
e
l
c
o
m
e

In [161]:
for i in 'hi, welcome':
    if i ==',':
        print(', is present')
    else:
        print(', is not present')

, is not present
, is not present
, is present
, is not present
, is not present
, is not present
, is not present
, is not present
, is not present
, is not present
, is not present

### Break loop

In [164]:
for i in 'hi, welcome':
    if i ==',':
        print(', is present')
        break
    else:
        print(', is not present')

, is not present
, is not present
, is present

### Continue loop

In [167]:
for i in 'hi, welcome':
    if i ==',':
        continue
    else:
        print('come on')

come on
come on
come on
come on
come on
come on
come on
come on
come on
come on

### Range loop

##### 1 parameter

In [171]:
for number in range(2):
    print(number)

0
1

In [173]:
for number in range(5):
    print(number)

0
1
2
3
4

##### 2 parameters

In [176]:
for number in range(2,6):
    print(number)

2
3
4
5

##### 3 parameters

In [179]:
for number in range(10,20,5):
    print(number)

10
15

In [181]:
for number in range(10,30,4):
    print(number)

10
14
18
22
26

### For_else

In [184]:
for number in range(3):
    print(number)
else:
    print('all numbers are finished')

0
1
2
all numbers are finished

### For loop within for loop

In [187]:
for number in range(3):
    print(number)
    for i in range(2):
        print(i)
else:
    print('all numbers are finished')

0
0
1
1
0
1
2
0
1
all numbers are finished

### While loop

In [190]:
i=1
while i<5:
    print(i)
    i+=1

1
2
3
4

### While_else

In [193]:
i=1
while i<5:
    print(i)
    i+=1
else:
    print('over')

1
2
3
4
over

### Lambda Function

In [196]:
add_n=lambda number:number+10
print(add_n(10))
print(add_n(25))
print(add_n(120))

20
35
130